<!---<app-hello-world></app-hello-world>
{{title}} 
<br>
Result is {{getMin(1, 0)}} 
<br>*/
<app-parent></app-parent>
<div class="theme-light">
    <app-child class="active"></app-child>
</div>
<app-child>
    <h3 question>Is this ng-content cool?</h3>
    <p answer>Yeah it is!</p>
</app-child>

<button (click) = "toggleText($event)" >Toggle text</button>
{{showText}}

{{'World' | greetingsPipe}} 

<app-root></app-root>

<app-sizer [(size)] = "fontSizepx"></app-sizer>
<div [style.font-size.px] = "fontSizepx">Resizible text</div>

<app-sizer [size] = "fontSizepx" (sizeChange) = "fontSizepx"></app-sizer>--->
